nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
}

a {
	margin: 20px;
	text-decoration: none;
	font-size: 40px;
	color: #95a5a6;
	border-bottom: 1px solid #52c9aa;
	transition: all .5s ease-in;
}

a:hover {
	color: #3498db;
	border-bottom-color: #2408db;
}

i {
	margin-right: 10px;
}
@media screen and (max-width: 920px) {
	nav {
		justify-content: space-around;
	}
	a {
		font-size: 26px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
}